body, html {
    margin: 0;
    padding: 0;
    height: 100%;

    font-family: "Santral-Book";
                                                
                                                
                                                
  }
  
  .homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000; 
    position: relative;
  }
  
  .div {
    position: relative;
    width: 100vw; 
    height: 100%;
    overflow: hidden;
  }
  
  .video-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  .video {
    width: 100%; 
    height: 100%;
    object-fit: cover;
  }
  
  .gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, transparent, #2a2a2a);
  }
  
  .button-wrapper {
    position: absolute;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    text-decoration: none; 
    overflow: hidden;
  }
  .button-wrapper1 {
    position: absolute;
    top: 34px;
    /* bottom: 53px; */
    right: 62px;
    display: flex;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
}
  
  .text-wrapper {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 85px;
    position: absolute;
    bottom: 34px;
    right: 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
   
  }
  
  .button {
    width: 60px; /* Initial size of the button */
    height: 60px;
    background-color: #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  .button {
    width: 60px; /* Initial size of the button */
    height: 60px;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .arrow {
    width: 30px;
    height: 30px;
    filter: invert(1);
    transition: transform 0.3s ease-in-out;
  }
  
  .button:hover .arrow {
    transform: translateX(5px) scale(1.2); 
  }
  .button:hover .button {
    transform: translateX(5px)
  }
  
  .page-indicator {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    
    align-items: center;
  }
  
  .page-number {
  
    font-weight: bold;
    margin-bottom: 5px;
  }
  .page-number1 {
  color: rgb(45, 116, 123);
    margin-bottom: 5px;
  }
  .page-number2{
    color: #ffffff;
  }
  .vector-line2{
    width: 0.5px;
    height: 50px;
    left:10px;
    background-color: #ffffff;
    margin-bottom: 5px;
  }
  .vector-line {
    width: 0.5px;
    height: 50px;
    left:10px;
    background-color: #000000; 
    margin-bottom: 5px;
  }
  .circle {
    position: fixed;
    top: 18px;
    left: 15px;
    width: 21px;
    height: 20px;
    background-color: #ffffff;
    border-radius: 50%;}
      .buttons-container {
        position: absolute;
        bottom: 32%;
        left: 39px;
        display: flex;
    }
      
      .navigation-button {
        margin-bottom: 40px;
        text-decoration: none;
        color: #ffffff;
      
        padding: 10px;
        border-radius: 5px;
        transition: background-color 0.3s ease-in-out;
      }
      
      .navigation-button:hover {
        background-color: #333333;
      }
      

      

    .style .container1 {
        max-width: 800px;
        margin: 113px auto;
        padding: 20px;
        
        overflow: hidden;
    }

    .style .container1 img {
        max-width: 56%;
        height: auto;
        float: right;
        margin: 0 0 20px 20px;
    }
    .style .section2 img{

        max-width: 108%;
    }
    .style .section2 {
max-width: 800px;
        margin: 113px auto;
        padding: 20px;
        
        overflow: hidden;
}
.style p {
        margin: 0;
    
    }

    .style .second-section {
 
        margin-top: 20px;
    }
    .style .vector-line3 {
width: 0.5px;
height: 50px;
left: 10px;
background-color: #000000;
margin-bottom: 5px;
}
.style .page-number3 {
color: #000000;
}
.style .navigation-button3 {
margin-bottom: 40px;
text-decoration: none;
color: #000000;
padding: 10px;
border-radius: 5px;
transition: background-color 0.3s ease-in-out;
}
.style .navigation-button3:hover {
color: white;
background-color: #4c4c4c;
}
.style .products{
color: #000000;
margin-right: 10px;
}
.style .mobile img{
display: none;
}
.style h1 {
margin-bottom: -7%;
color: #b4a05d;
}
.style .navigation-button3 {
margin-bottom: 40px;
text-decoration: none;
color: #000000;
padding: 8px;
border-radius: 5px;
transition: background-color 0.3s ease-in-out;
display: flex;
}
@media only screen and (max-width: 500px) {
.style .container1 img {
    max-width: 83%;
height: auto;

margin: 0px 52px 4px 16px;
}
.style p {
padding-right: 0%;
font-size: small;
}

.style h1 {
margin-bottom: -12%;
margin-top: 110%;

}
.style .section2 h1{
margin-top: 0%;
}
.style .section2 h2{
padding-top: 0%;
}
.style .mobile img{
display:block;
}
.style .web img{
display: none;
}
.style .section2 img {
max-width: 60%;
margin-right: 23%;
}
}
     

.history .container {
  max-width: 800px;
  margin: 113px auto;
  padding: 20px;
  
  overflow: hidden;
}
.history .third-section {

  max-width: 800px;
  margin: 113px auto;
  padding: 20px;
  
  overflow: hidden;
}
.history .third-section img{
max-width: 56%;
  height: auto;
  float: right;
  margin: 0 0 20px 20px;
}
.history .container img {
  max-width: 56%;
  height: auto;
  float: right;
  margin: 0 0 20px 20px;
}


.history  p {
color: #ffffff;
  margin: 0;
}

.history .second-section {

height: 71%;

}
.history .background {
left: 5px;
width: 55%;
position: absolute;
background-image: url(img/image\ 8.png);
margin: -321px auto;
padding: 322px;
overflow: hidden;
z-index: -1;
}
.history  .vector-line3 {
width: 0.5px;
height: 50px;
left: 10px;
background-color: #ffffff;
margin-bottom: 5px;
}
.history .page-number3 {
color: #ffffff;
}
.history .navigation-button3 {
margin-bottom: 40px;
text-decoration: none;
color: #ffffff;
padding: 10px;
border-radius: 5px;
transition: background-color 0.3s ease-in-out;
}
.history .navigation-button3:hover {
color: rgb(255, 255, 255);
background-color: #4c4c4c;
}
.history .products{
color: #ffffff;
margin-right: 10px;
}
.history .mobile img{
display: none;
}
.history h1 {
margin-bottom: -7%;
color: #b4a05d;
}
.history .page-indicator {
color: white;
}
.history h2 {
color: #ffffff;
}
.history .navigation-button2 {
margin-bottom: 40px;
text-decoration: none;
color: #ffffff;
padding: 8px;
border-radius: 5px;
transition: background-color 0.3s ease-in-out;
display: flex;
}
.history .navigation-button2:hover {
color: rgb(255, 255, 255);
background-color: #4c4c4c;
}
@media only screen and (max-width: 500px) {
.history .container img {
max-width: 83%;
height: auto;

margin: 0px 52px 4px 16px;
}
.history p {

font-size: small;
}

.history h1 {
margin-bottom: -12%;
margin-top: 110%;

}
.history .container.second-section h1{
margin-top: 0%;

}
.history .container.second-section h2{
padding-top: 0%;
color: #ffffff;
}


.history .container.second-section img {
max-width: 60%;
margin-right: 23%;
}
.history .third-section img {
max-width: 78%;
margin-right: 12%;
}
}




    .products .container {
        max-width: 800px;
        margin: 113px auto;
        padding: 20px;
        
        overflow: hidden;
    }
    .products .third-section {
      
        max-width: 800px;
        margin: 113px auto;
        padding: 20px;
        
        overflow: hidden;
    }
    .products .third-section img {
    max-width: 75%;
    height: auto;
    margin: -7px 0 1px 69px;
}
.products .container img {
        max-width: 56%;
        height: auto;
        float: right;
        margin: 0 0 20px 20px;
    }
   

    .products p {
      padding-bottom: 15px;
      color: #333333;
        margin: 0;
    }

    .products .second-section {
      padding-top: 13%;
    height: 71%;
    
}

.products .background {
    left: 0px;
    height: 180%;
    width: 100%;
    position: absolute;
    background-image: url(img/together.png);
    margin:-766px auto;
    padding-bottom: 309px;

    overflow: hidden;
    z-index: -1;
}
.products .paragraph {
  padding-top: 236px;
}
.products .paragraph h1 {
  color: #fbd453;
}

.products .vector-line3 {
width: 0.5px;
height: 50px;
left: 10px;
background-color: #000000;
margin-bottom: 5px;
}
.products .page-number3 {
color: #000000;
}
.products .navigation-button3 {
margin-bottom: 40px;
text-decoration: none;
color: #000000;
padding: 10px;
border-radius: 5px;
transition: background-color 0.3s ease-in-out;
}
.products .navigation-button:hover {
color: rgb(255, 255, 255);
background-color: #4c4c4c;
}
.products .products{
color: #ffffff;
margin-right: 10px;
}
.products .mobile img{
display: none;
}
.products h1 {
margin-bottom: -7%;
color: #ffffff;
}
.products .page-indicator {
  color: white;
}
.products h2 {
  color: #414141;
}
.products .navigation-button2 {
    margin-bottom: 40px;
    text-decoration: none;
    color: #ffffff;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
    display: flex;
}
.products h1{
  color: #ffffff;
}
.products .navigation-button3:hover {
  color: rgb(255, 255, 255);
background-color: #4c4c4c;
}
.products .navigation-button2:hover {
  color: rgb(255, 255, 255);
background-color: #4c4c4c;
}
.products .content_grid {
  max-width: 800px;
        margin: 113px auto;
        padding: 20px;
        
        overflow: hidden;
  text-align: center;
 }

 .products .content_grid img {
  max-width: 161px;
    object-fit: cover;
    object-position: center;
}

.products ul {
    position: relative;
    list-style-type: none;
    display: flex;
 
    padding-bottom: 24px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media only screen and (max-width: 500px) {
  .products .container img {
    max-width: 8%;
height: auto;


}
.products p {

font-size: small;
}

.products h1 {
margin-bottom: -12%;


}
.products .second-section {
    padding-top: 24%;
  
}
.products .content_grid {
  margin-left: -59px;
}
.products .container.second-section h1{
margin-top: 0%;

}
.products .background{
  height: 180%;
}


.products .container.second-section img {
max-width: 60%;
margin-right: 23%;
}

.products .third-section img {
    max-width: 85%;
    height: auto;
    margin: -12px 7px 8px 18px;
}
}







 